// 1. Ваши собственные переменные и переопределения.
//$global-link-color: #DA7D02;
$global-muted-background: #504d49;
// 2. Импортируйте стандартные переменные фреймворка и примеси.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Ваши хуки.
//@mixin hook-card() { color: #000; }

// 4. Импорт фреймворка UIkit.
@import "uikit/src/scss/uikit-theme.scss";